@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');
:root{
    --title-font: "Bebas Neue";
    --main-font: "Roboto";
    --container-size: 1200px;
    --white: #d7d7d7;
    --dark: #1c1501;
    --main-color: #7E5D03;
    --light: #c29004;
    --body-size: 16px;
    --title-size: 4em;
    --radius: 50px;
    --border-radius: 10px;
}
*{padding: 0%;margin: 0%;box-sizing: border-box;scroll-behavior: smooth;}
body{color: var(--white);font-family: var(--main-font);background: url(../images/background.svg);background-size: 100%;position: relative;min-height: 100vh;min-width: 100%;letter-spacing: .5px;line-height: 1.7;}
body::before{content: "";position: absolute;inset: 0;background: #0000003b;z-index: -1;backdrop-filter: blur(55px);}
h1,h2,h3,h4,h5,h6{font-family: var(--title-font);font-weight: 100;}
a{text-decoration: none;color: var(--main-color);transition: all .3s linear;}
.btn{
    border: 1px solid var(--main-color);
    padding: 15px 30px;
    border-radius: var(--radius);
    font-size: 18px;
    letter-spacing: .5px;
    text-align: center;
}
.btn:hover{
    background: var(--main-color);
    color: var(--white);
}
.seemore{color: var(--light);display: flex;gap: 10px;font-size: 16px;letter-spacing: 2px;font-weight: 300;padding: 15px 0 0;}
.seemore:hover{padding-right: 30px;}
.flex{display: flex;}
.grid{display: grid;}
.bg-light{
    /* background: #c3c3c314; */
}

header{}
.navbar{justify-content: space-between;padding: 2% 10%;}
a.logo{
    font-size: 3em;
    font-weight: 400;
    color: var(--white);
    font-family: var(--title-font);
    letter-spacing: 2px;
}

a.logo b {
    color: var(--main-color);
}
nav ul{align-items: center;list-style: none;gap: 25px;}

header nav {
    display: flex;
}
header ul li a{color: var(--white);font-family: var(--title-font);letter-spacing: 2px;font-size: 20px;}
header ul li a:hover{color: var(--light);}
.banner{grid-template-columns: 1fr 1fr;grid-gap: 100px;padding: 2% 10% 8%;}
.banner .slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner .slogan h1{
    font-size: 5em;
    letter-spacing: 2px;
    line-height: 1.1;
}
.banner .slogan p{
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 2em;
    letter-spacing: 1px;
}
.banner .img-banner{
    height: 700px;
    box-shadow: 10px 10px 1000px #e7e7e714;
}
.banner .img-banner img{width: 100%;height: 100%;object-fit: cover;object-position: top center;}

main section{position: relative;padding: 5% 10%;z-index: 1;}
main section.about{grid-template-columns: 1fr 1fr;grid-gap: 10%;align-items: center;}
main section .title{font-size: var(--title-size);font-family: var(--title-font);color: var(--white);line-height: 1.2;font-weight: 100;}
main section .subtitle{display: block;font-family: var(--main-font);font-size: var(--body-size);color: var(--light);font-weight: 500;line-height: 1.5;}
main section .subtitle.center,.center{text-align: center;}
.text-bloc{flex-direction: column;justify-content: flex-start;gap: 30px;}
main section.about .jumbotron{
    padding: 20px 40px;
    background: #b69a4e26;
    font-weight: 300;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    gap: 40px;
}
.jumbotron span{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    border-radius: 50%;
    position: relative;
    font-size: 40px;
    padding: 25px 20px;
}
.jumbotron .description h3{
    font-size: 25px;
    font-family: var(--title-font);
    letter-spacing: 1px;
    font-weight: 400;
}
.img-bloc{
    height: 700px;
    box-shadow: 10px 10px 1000px #00000038;
}

.img-bloc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main section.partners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
main section.partners span.hero{
    font-size: 20px;
    opacity: .5;
}

main section.partners span.hero strong {
    color: var(--light);
}
main section.partners .container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
main section.partners .container .img{
    width: 20%;
}
main section.partners .container .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: all .3s linear;
    filter: grayscale(1);
    opacity: .1;
}

main section.partners .container .img:hover img {
    filter: grayscale(0);
    opacity: 1;
}
main section.stats{justify-content: space-between;gap: 50px;}
main section.stats .item-count{width: 25%;display: flex;flex-direction: column;align-items: center;justify-content: center;text-align: center;gap: 0;line-height: 1.2;}
main section.stats .item-count span:nth-child(1){color: var(--main-color);font-family: var(--title-font);font-size: 5em;font-weight: 900;}
main section.stats .item-count span{font-weight: 300;letter-spacing: 1px;opacity: .5;transition: all .3s linear;}

main section.stats .item-count span:hover {
    opacity: 1;
    color: var(--light);
}

main section.atout{display: flex;flex-direction: column;align-items: center;gap: 40px;}
main section.atout .container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.default-card{display: flex;flex-direction: column;justify-content: flex-start;padding: 40px;width: 300px;gap: 15px;border: 1px solid #574000;transition: all .3s linear;}

.default-card:hover {
    transform: scale(1.02) !important;
    box-shadow: 5px 5px 20px #0000002e;
    background: linear-gradient(45deg, #000000a6, #392a01);
}
.default-card span{width: 70px;height: 70px;border-radius: 50%;transition: all .3s linear;display: flex;justify-content: center;align-items: center;background: var(--main-color);font-size: 30px;}
.default-card:hover span{background: var(--light);color: var(--dark);}
.default-card h3{
    letter-spacing: 2px;
    font-weight: 400;
}
.default-card p{
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;
}
section.tarifs{gap: 70px;display: flex;flex-direction: column;}

section.tarifs .title {
    text-align: center;
}
section.tarifs .container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.tarif-card{
    width: 400px;
    gap: 20px;
    border: none;
    background: linear-gradient(82deg, #a8a6a629, #7e5d0357);
    backdrop-filter: blur(20px);
    align-items: flex-start;
}

.tarif-card:nth-child(2) {
    background: linear-gradient(45deg, #251e0a, #0000007a);
}

.tarif-card h4 {
    color: var(--main-color);
    font-size: 60px;
}

.tarif-card i {
    color: var(--white);
    font-style: normal;
    letter-spacing: 2px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-size: 20px;
}

.tarif-card ul {
    letter-spacing: 1px;
    padding-left: 40px;
    position: relative;
    list-style: disc;
    list-style-type: disc;
    line-height: 2;
}
section.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 8%;
}

section.news .title {
    text-align: center;
}

section.news .container {
    display: flex;
    gap: 4%;
}
.item-new {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid #ffffff24;
}
.img-new {
    height: 300px;
}
.img-new img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.new-body {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-weight: 300;
    letter-spacing: 1.2px;
}
.new-body .date {
    color: var(--light);
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 16px;
}
h3.new-title {
    font-size: 2em;
    line-height: 1.2;
}
footer{
    padding: 4% 10%;
    background: #fdfdfd14;
    backdrop-filter: blur(100px);
}
.footer-1{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 2%;
}
footer .bloc{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: flex-start;
    gap: 10px;
}

footer .bloc ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .bloc ul li a {
    color: var(--white);
    opacity: .5;
}

footer .bloc ul li a:hover {
    opacity: 1;
    color: var(--light);
}

footer .bloc .btn-rs {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

footer .bloc .btn-rs span {
    background: #6969692e;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

footer .bloc .btn-rs span:hover {
    background: var(--light);
    color: var(--dark);
}
footer .bloc span{
    opacity: .5;
    transition: all .3s linear;
}

footer .bloc span:hover {
    opacity: 1;
}
footer .bloc h3{
    font-size: 22px;
    letter-spacing: 1px;
}
.footer-2{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0;
    border-top: 1px solid #ffffff2b;
    opacity: .5;
    letter-spacing: 1px;
}

section.footer-2 i {
    color: var(--light);
    font-size: 20px;
    padding: 0 0 0 5px;
}

/* mobile first */
@media(min-width: 325px){}
@media(min-width: 576px){}
@media(min-width: 991px){}
@media(min-width: 1400px){}